<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" type="images/png" href="images/youtube-icon.png">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<body>

    <div class="header">
        <!-- Header menu Start -->

        <div class="header__left">
            <i id="menu" class="material-icons">menu</i>
            
            <a href="index.html">
                <img src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png" alt="">
            </a>
        </div>
        <!-- Header menu end -->

        <!-- Header seach Start -->

        <div class="header__search">
            <form action="">
                <input type="text" placeholder="Search">
                <button><i class="material-icons">search</i></button>
            </form>
        </div>
        <!-- Header search Start -->
        
        <!-- Header Icons Start -->
        <div class="header__icons">
            <i class="material-icons display-this">search</i>
            <i class="material-icons ">videocam</i>
            <i class="material-icons">apps</i>
            <i class="material-icons display-this">notifications</i>
            <i id="drop-down" class="material-icons display-this">account_circle</i>
        </div>
        <!-- Header Icons Ends -->

    </div>

    <!-- Main Body Starts -->
    <div class="mainBody">
        <div class="sidebar">
            <div class="sidebar__categories">
                
                <!-- Single Category -->
                <a href="index.html">
                    <div class="sidebar__category">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </div>
                </a>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">local_fire_department</i>
                    <span>Trending</span>
                </div>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">subscriptions</i>
                    <span>Subscriptions</span>
                </div>
            </div>
            <hr>
            <div class="sidebar__categories">

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">library_add_check</i>
                    <span>Library</span>
                </div>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">history</i>
                    <span>History</span>
                </div>

                <!-- Single Category -->
                <a href="channel-videos.html">
                    <div class="sidebar__category">
                        <i class="material-icons">play_arrow</i>
                        <span>Your Videos</span>
                    </div>
                </a>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">watch_later</i>
                    <span>Watch Later</span>
                </div>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">thumb_up</i>
                    <span>Liked Videos</span>
                </div>
            </div>
            <hr>
        </div>
        <!-- Sidebar Ends -->

        <!-- Video Section Starts -->
        <div class="videos">
            
            <div class="channel-art">
                <img src="images/channel-art.jpg" alt="">
            </div>
            <div class="channel-header flex">
                <div class="channel-img-title flex">
                    <img class="img" src="images/logo.jpg" alt="">
                    <div class="channel-image-texts">
                        <h4>Desphixs</h4>
                        <span>2.46K <span class="sub-span">subscribers</span></span>
                    </div>
                </div>
                <div class="channel-header-btns">
                    <div><a href="" class="channel-join">Join</a></div>
                    <div><a href="" class="channel-subscribe">Subscribe</a></div>
                </div>
            </div>
            <div class="channel-header-links flex">
                <a href="channel.html" class="display-this">Home</a>
                <a href="channel-videos.html" class="display-this">Videos</a>
                <a href="community.html" class="dont-display-thdis">Community</a>
                <a href="index.html" class="dont-display-this">Membership</a>
                <a href="index.html" class="dont-display-this">Channels</a>
                <a href="about.html" class="display-this">About</a>
                <a href="" class="dont-display-this"><i class="material-icons">search</i></a>
            </div>
            <br><br>
                <hr>
            <div class="videos__container">
                <!-- Single Video Starts Here -->

                <div class="content-border">
                    <div class="content-div">
                        <div class="header-comm">
                            <div class="channel-details">
                                <img src="images/logo.jpg" class="channel-img-com" alt="">
                                <h5>Desphixs</h5>
                                <span>10 Days Ago</span>
                            </div>
                            <!-- <div class="elipse-icon">
                                <i class="material-symbols-outlined">sort</i>
                            </div> -->
                            <div class="dropdown">
                                <button class="dropbtn"> 
                                  <i class="material-symbols-outlined">sort</i>
                                </button>
                                <div class="dropdown-content">
                                  <a href="#"> <i class="material-symbols-outlined">edit</i> &nbsp; Edit</a>
                                  <a href="#"> <i class="material-symbols-outlined">delete</i> &nbsp; Delete</a>
                                  <a href="#"> <i class="material-symbols-outlined">share</i> &nbsp; Share</a>
                                </div>
                              </div>
                            
                        </div>
                        <div class="content">
                            <h3>I will be launching my first-ever cookbook next year, and we have JUST opened the email list so you can be the first to get notified. Sign up here! </h3>
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="icon-section">
                            <div class="single-icon">
                                <i class="materiald-icons material-symbols-outlined">thumb_up</i>
                                <span>30k</span>
                            </div>

                            <div class="single-icon">
                                <i class="materiald-icons material-symbols-outlined">thumb_down</i>
                                <span>30k</span>
                            </div>

                            <div class="single-icon">
                                <i class="materiald-icons material-symbols-outlined">share</i>
                            </div>

                            <div class="single-icon">
                                <i class="materiald-icons material-symbols-outlined">chat</i>
                                <span>70</span>
                            </div>
                        </div>


                        <hr><br><br>

                        
                        <div class="comment-section">
                            <h4>10 Comments</h4>
                            <!-- Create Comment Section -->
                            <div class="create-comment">
                                <div class="create-comment-img">
                                    <img src="images/logo.jpg" alt="">
                                </div>
                                <div class="create-comment-input">
                                    <input type="text" placeholder="Add a comment">
                                </div>
                            </div>

                            <!-- Comments Section -->
                            <div class="comment-wrap">
                                <div class="comments">
                                    <div class="comment-img">
                                        <img src="images/logo.jpg" alt="">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-header">
                                            <h4>Destiny Franks</h4>
                                            <p><small>10 Days Ago</small></p>
                                        </div>
                                        <p>Thanks alot for the New Series</p>
                                        <div class="comment-icons">
                                            <div class="comment-icon-single">
                                                <i class="material-icons">thumb_up</i>
                                                <span>2</span>
                                            </div>
                                            <div class="comment-icon-single">
                                                <i class="material-icons">thumb_up</i>
                                            </div>
                                            <div class="comment-icon-single">
                                                <span>Reply</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="delete-comment">
                                    <a href=""><i class="material-icons">delete</i></a>
                                </div>
                            </div>

                            <div class="comment-wrap">
                                <div class="comments">
                                    <div class="comment-img">
                                        <img src="images/logo.jpg" alt="">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-header">
                                            <h4>Destiny Franks</h4>
                                            <p><small>10 Days Ago</small></p>
                                        </div>
                                        <p>Thanks alot for the New Series</p>
                                        <div class="comment-icons">
                                            <div class="comment-icon-single">
                                                <i class="material-icons">thumb_up</i>
                                                <span>2</span>
                                            </div>
                                            <div class="comment-icon-single">
                                                <i class="material-icons">thumb_up</i>
                                            </div>
                                            <div class="comment-icon-single">
                                                <span>Reply</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="delete-comment">
                                    <a href=""><i class="material-icons">delete</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="js/main.js"></script>
</body>
</html>